@import "tailwindcss";

.perspective {
    perspective: 1000px;
}
.transform-style-preserve-3d {
    transform-style: preserve-3d;
}
.backface-hidden {
    backface-visibility: hidden;
}
.rotate-x-180 {
    transform: rotateX(180deg);
}

/*.shadow-deep {*/
/*    box-shadow: 10px 6px 18px red;*/
/*}*/

.shadow-deep {
    box-shadow: 0 10px 25px rgba(80, 150, 255, 0.45);
}

body {
    background: linear-gradient(135deg, #0f172a 0%, #1e3a8a 40%, #3b82f6 100%);
    color: #f8fafc;
}

